*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: #1e48aa;
  padding: 0 10px;
}

main {
  max-width: 375px;
  max-height: 380px;
  margin: 100px auto 0;
  padding: 30px 10px 0px;
  background-color: #f1f1f1;
  color: #212121;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}
